node_modules/
.elasticbeanstalk/
.DS_Store
public/assets/js/bundle.js*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
package-lock.json