doctype html
html
  head
    title Galactic Mass - The Business Portal of Galactic Network
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='assets/css/massive/main.css')
    noscript
      link(rel='stylesheet', href='assets/css/noscript.css')
  body.is-loading
    // Wrapper
    #wrapper.fade-in
      // Intro
      #intro
        h1
          | This is
          br
          | 						Galactic Mass
        p A collection of online businesses that are part of the Galactic Network
        ul.actions
          li
            a.button.icon.solo.fa-arrow-down.scrolly(href='#header') Continue
      // Header
      header#header
        a.logo(href='index.html') Galactic Mass
      // Main
      #main
        // Featured Post
        //
          <article class="post featured">
          <header class="major">
          <span class="date">April 25, 2017</span>
          <h2><a href="#">And this is a<br />
          massive headline</a></h2>
          <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
          facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
          amet nullam sed etiam veroeros.</p>
          </header>
          <a href="#" class="image main"><img src="images/massive/pic01.jpg" alt="" /></a>
          <ul class="actions">
          <li><a href="#" class="button big">Full Story</a></li>
          </ul>
          </article>
        // Posts
        section.posts
          article
            header
              h2
                a(href='/referral') Referral
            a.image.fit(href='/referral')
              img(src='img/Referral/smalllogo.jpg', alt='')
            p The leading way to get paid for sharing the things you love.
            ul.actions
              li
                a.button(href='/referral') Learn More

          article
            header
              h2
                a(href='#') Esport Prediction Market
            a.image.fit(href='#')
              img(src='images/massive/pic02.jpg', alt='')
            p Bet on your favorite team, odds determined by the market.
            ul.actions
              li
                a.button(href='') Learn More

          article
            header
              h2
                a(href='#') Coin Casino
            a.image.fit(href='#')
              img(src='images/massive/pic03.jpg', alt='')
            p Blackjack, Roulette, Slots and More...
            ul.actions
              li
                a.button(href='') Learn More

        // Footer
        footer
          // <div class="pagination">
          // <a href="#" class="previous">Prev</a>
          //
            <a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
            </div>
      // Footer
      footer#footer
        //
          <section>
          <form method="post" action="#">
          <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
          </div>
          <div class="field">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
          </div>
          <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="3"></textarea>
          </div>
          <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
          </ul>
          </form>
          </section>
          <section class="split contact">
          <section class="alt">
          <h3>Address</h3>
          <p>1234 Somewhere Road #87257<br />
          Nashville, TN 00000-0000</p>
          </section>
          <section>
          <h3>Phone</h3>
          <p><a href="#">(000) 000-0000</a></p>
          </section>
          <section>
          <h3>Email</h3>
          <p><a href="#">info@untitled.tld</a></p>
          </section>
          <section>
          <h3>Social</h3>
          <ul class="icons alt">
          <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
          </ul>
          </section>
          </section>
      // Copyright
      #copyright
        ul
          li © Untitled
          li
            | Design:
            a(href='https://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/massive/main.js')
