doctype default
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Galactic Gold, hashgraph based cryptocurrency")
    meta(name="author", content="Ben Wang")
    title Galactic Gold

    //Bootstrap core CSS. If no theme is passed in, we'll default to the theme called 'flatly'.
    - var setTheme = theme
    if setTheme
      link(href="../static/bootstrap/css/theme/" + setTheme + "/bootstrap.css", rel="stylesheet")
    else
      link(href="../static/bootstrap/css/theme/flatly/bootstrap.css", rel="stylesheet")
    //Custom styles for this template
    link(href="../static/bootstrap/css/jumbotron-narrow.css", rel="stylesheet")
    link(href="../css/landing.css", rel="stylesheet")
    // Global Site Tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106126008-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-106126008-1');

  body
    block content
    block footer
